<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="container mb-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Codecool Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!--                    <li class="nav-item dropdown">-->
                    <!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--                            Filter by Category-->
                    <!--                        </a>-->
                    <!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--                            <li><a class="dropdown-item" href="/?category-id=0">All Categories</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="/?category-id=2">Smartphone</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="/?category-id=1">Tablet</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="/?category-id=3">Laptop</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="/?category-id=4">TV</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->
                    <!--                    <li class="nav-item dropdown">-->
                    <!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--                            Filter by Supplier-->
                    <!--                        </a>-->
                    <!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--                            <li><a class="dropdown-item" href="/?supplier-id=0">All Suppliers</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="?supplier-id=1">Amazon</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="?supplier-id=3">Apple</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="?supplier-id=2">Lenovo</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="?supplier-id=4">Samsung</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->


                    <!--===========================================================================-->
                    <div class="col ">
                        <form action="/" method="post">
                            <div class="form-row">
                                <div class="form-group">
                                    <!--                                    <label for="category">Category</label>-->
                                    <select id="category-id" class="form-control">
                                        <option value="0">All Categories</option>
                                        <option value="1">Tablet</option>
                                        <option value="2">Smartphone</option>
                                        <option value="3">Laptop</option>
                                        <option value="4">TV</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <!--                                    <label for="supplier">Supplier</label>-->
                                    <select id="supplier-id" class="form-control">
                                        <option value="0">All Suppliers</option>
                                        <option value="1">Amazon</option>
                                        <option value="2">Lenovo</option>
                                        <option value="3">Apple</option>
                                        <option value="4">Samsung</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>

                    </div>

                    <!--===============================================================================-->


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cart</a>
                    </li>
                    <li class="nav-item">
                        <span>No</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card">
        <strong th:text="${supplier}">Category Title</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="/add-to-cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>